export(ate)
export(makeLinks)
export(makeWeights)
export(pctn)
importFrom(vegan,eigenvals)
importFrom(vegan,scores)
importFrom(vegan,spantree)
S3method(ate,default)
S3method(eigenvals,ate)
S3method(eigenvals,pctn)
S3method(pctn,default)
S3method(plot,ate)
S3method(plot,pctn)
S3method(print,ate)
S3method(print,pctn)
S3method(scores,ate)
S3method(scores,pctn)
